{% extends "base.html" %}

{% block content %}
<div class="col-sm-8 col-sm-offset-2" >
<h1>
    Start A Forum:
</h1>

<form role="form" method="POST">
    <div class="form-group">
        <label for="title">Topic</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Topic" required>
    </div>
    <div class="form-group">
        <label for="title">Brief Description of Topic</label>
        <textarea class="form-control" id="description" name="description" placeholder="Description" rows="2"required></textarea>
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" id="content" name="content" placeholder="Post content" rows="10" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}
