{% extends "base.html" %}
{% block content %}

<style>
.programstable thead tr th, .programstable tbody tr th {
	background-color: #184D8C;
	border: 1px solid black;
	font-size: 14px;
	padding: 8px;
    border-collapse: collapse
}
.programstable tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
.programstable th {height:20px}
.btn-group-lg > .btn, .btn-lg {
    padding: 8px;
    font-size: 14px;
    line-height: 1.33333;
}
textarea {
    resize: none;
}
button {background-color:#008CBA;border:solid 1px; color:white; padding:5px; float:right;border-radius: 2px; height:2.5em}
.btn {display: inline-block; border-radius: 4px;background-color: #008CBA; border: none;color: #FFFFFF;text-align: center;font-size: 15px;
  padding: 8px;transition: all 0.5s;cursor: pointer; float:left}
  .headtext {font-size: 16px; font-weight: 800; color: #0E2754}
	button, input, optgroup, select, textarea {
    margin: 10px;
    font: inherit;
    color: inh
	}
	
.headtext {font-size: 16px; font-weight: 800; color: #0E2754}
</style>
<script>
	
</script>
  
  

<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <input type='text' class="form-control" id='datepicker' />
        </div>
        <script type="text/javascript">
            $(function () {
               $('.datepicker').datepicker();
            });
        </script>
    </div>
</div>


{% endblock %}
