{% extends "base.html" %}
{% block content %}

<style>

.programstable th {height:20px}

button {background-color:#008CBA;border:solid 1px; color:white; padding:5px; float:right;border-radius: 2px; height:2.5em}
.btn {display: inline-block; border-radius: 4px;background-color: #008CBA; border: none;color: #FFFFFF;text-align: center;font-size: 15px;
  padding: 8px;transition: all 0.5s;cursor: pointer; float:left}
  .headtext {font-size: 16px; font-weight: 800; color: #0E2754}
	button, input, optgroup, select, textarea {
    margin: 10px;
    font: inherit;
    color: inherit;padding:1px;
}
</style>
<script>
	
	function deleteItem(val, valid){
		var ans = confirm('Sure You Deleting '+ val);
		if (ans) {
			document.getElementById('deleteitem').value = valid;
			document.getElementById('form2').submit();
		}
	}
</script>


 <div class="table-responsive" ><br>
  <table class="table table-hover table-bordered programstable"><span class='headtext'><b>Current Active Cells</b></span><br><br>
    <thead>
      <tr>
        <th>Cell Name</th>
        <th>Cell Leader</th>
		<th>Cell Reports</th>
		<th></th>
		<th></th>
      </tr>
    </thead>
    <tbody>
	{% for c in cells%}
      <tr>
        <td>{{c.cellname}}</td>
        <td>{{c.cellleader}}</td>
		<td><a href="{{url_for('cellreport', id=c.id)}}">Cell Portal</a></td>
		<td> <a href='#' onclick="confirm('Edit '+'{{c.cellname}}')"><span class="glyphicon glyphicon-pencil"></span></a></td>
	{% if current_user.email == admin.email %}
		<td><a href='#' onclick="deleteItem('{{c.cellname}}','{{c.id}}' )"><span class="glyphicon glyphicon-trash"></span></a></td>
	{% else %}
	   <td><a href='#' onclick="alert('Not Authorised')"><span class="glyphicon glyphicon-trash"></span></a></td>
	{% endif%}
      </tr>
	{%endfor %}
    </tbody>
  </table>
  </div
<br>
<div style='padding:10%'>
<form role="form" method="POST" id='form1' style='display:none'>
    <div class="form-group">
        <label class='headtext'>Create New Cell</label>
        <input type="text" class="form-control" id="progname" name="progname"" placeholder="Cell Name">
    </div>
    <div class="form-group">
        <textarea class="form-control" id="progdesc" name="progdesc" placeholder="Program Description" rows="2"></textarea>
    </div>
    <div class="form-group">
        <textarea class="form-control" id="progaim" name="progaim" placeholder="Program Aim/Objective" rows="8"></textarea>
    </div>
    <button class="btn btn-default">Submit</button><span>&nbsp; &nbsp</span>
    <button class="btn btn-default" style='background-color: red;'  onclick="Hide('form1')">Hide</button>
</form>
<br><br><br>

<form role="form" method="POST" action='/delprograms' id='form2'>
        <input type="hidden" value='' class="form-control" id="deleteitem" name="deleteitem">
 </form>
</div>
{% endblock %}

