{% extends "base.html" %}
{% block content %}

<style>

.programstable th {height:20px}
.btn-group-lg > .btn, .btn-lg {
    padding: 8px;
    font-size: 14px;
    line-height: 1.33333;
}

button {background-color:#008CBA;border:solid 1px; color:white; padding:5px; float:right;border-radius: 2px; height:2.5em}
.btn {display: inline-block; border-radius: 4px;background-color: #008CBA; border: none;color: #FFFFFF;text-align: center;font-size: 15px;
  padding: 8px;transition: all 0.5s;cursor: pointer; float:left}
  .headtext {font-size: 16px; font-weight: 800; color: #0E2754}
	button, input, optgroup, select, textarea {
    margin: 10px;
    font: inherit;
    color: inh
</style>
<script>
	function Hide(target){
		document.getElementById(target).style.display= "none";
	}

	function Show(target){
		document.getElementById(target).style.display= "block";
	}
  function validateDate() {
	var msg = "date format must be dd-mm-yyyy";
	var t = document.getElementById('duedate').value;

	var lastfour = t.slice(6,10).length;
	var firsttwo = t.slice(0,2).length;
	var midtwo = t.slice(3,5).length;
	var firstdash = t[2];
	var seconddash = t[5];
	var month = t.slice(3,5);
	if (parseInt(month) > 12 | isNaN(parseInt(month))) {
		alert(msg)
		return false;
	}

	if (firstdash != '-' | seconddash != '-'){
		alert(msg)
		return false;
	}
	else if (lastfour != 4 | firsttwo != 2 | midtwo!= 2) {
		alert(msg)
		return false
	}
		document.getElementById('form1').submit();
		return true
}


	function deleteItem(valid){
		var firstwarning = confirm("BE CAREFUL HERE!!");
		if (firstwarning) {
		var ans = confirm('SURE TO GET RID OF THIS');
		if (ans) {
			document.getElementById('deleteitem').value = valid;
			document.getElementById('form2').submit();
		}
	}
 }
</script>
</script>

<div ><br>
<div class="table-responsive" >
  <table class="table table-condensed table-bordered programstable" ><span style='font-size: 16px; font-weight: 800; color: #0E2754'>Leaders Meeting Notes</span>
  <a href="#form1" onclick="Show('form1')" class="btn btn-info btn-lg bt2" style='float:right; width:'180px'>
          <span class="glyphicon glyphicon-plus-sign" ></span>Add Notes
        </a>
    <thead>
      <tr>
        <th >Date</th>
        <th >Action Notes</th>
		<th width='5%'></th><th width='5%'></th>
      </tr>
    </thead>
    <tbody>
		{%for mins in minutes%}
      <tr>
        <td width='10%'>{{mins.meetingdate | dateformat("%d-%m-%Y")}}</td>
        <td>
			{%for line in mins.content.split('\n') %}
			<ul>
				<li>{{ line }}</li>
			</ul>
			{%endfor %}
		</td>
		{% if current_user.email in ['kesfrance@yahoo.com', 'sumilimuzungu@yahoo.com'] %}
		<td> <a href='#' onclick="alert('oops! not yet implemented')"><span class="glyphicon glyphicon-pencil"></span></a></td>
		<td><a href='#' onclick="deleteItem('{{mins.id}}' )"><span class="glyphicon glyphicon-trash"></span></a></td>

		{% else %}
		<td> <a href='#' onclick="alert('oops! not authorised')"><span class="glyphicon glyphicon-pencil"></span></a></td>
		<td><a href='#' onclick="alert('oops! not authorised')"><span class="glyphicon glyphicon-trash"></span></a></td>
		{%endif %}
      </tr>
	  	{%endfor %}
    </tbody>
  </table>
  </div
</div><br>



 <br><br><br>

<div>
<form role="form" method="POST" id='form1' style='display:none;padding-left:10%;padding-right:10%' onsubmit="validateDate(); return false">
    <div class="form-group">
        <label class='headtext'>Add Notes</label>
        <textarea class="form-control" id="content" name="content" rows='10' placeholder="Write Notes" required='required'></textarea>
    </div>
    <button class="btn btn-default">Submit</button><span>&nbsp; &nbsp</span>
    <button class="btn btn-default" style='background-color: red;'  onclick="Hide('form1')">Hide</button>
</form>
<br><br><br>
</div>

<div>
<form role="form" method="POST" action='/delnotes' id='form2'>
        <input type="hidden" value='' class="form-control" id="deleteitem" name="deleteitem">
 </form>
</div>
{% endblock %}
