{% macro render_post(post) %}

  <div class = "col-sm-6 col-md-6" >
      <div class = "thumbnail" style="height:180px;">
         <h1>
         <a class="title" href="{{url_for('singlepost_get', id=post.id)}}">{{post.title | title}}</a>
        </h1>
      
      
      <div class = "caption">
	<p>        
	   <span>{{ post.description | safe }} </span> <br>
             {% if post.author.name %}
           <span style='color: #123275;font-weight: bold;'>
	   Posted by: {{ post.author.name.title()}} | {{ post.datetime | dateformat("%d/%m/%y") }}</span>
            {% endif %}
         </p>
	
         <p>
            <a href = "{{url_for('singlepost_get', id=post.id)}}" class = "btn btn-primary" role = "button">
               View
            </a> 
         </p>
         
      </div>
     </div>
   </div>

{% endmacro %}
{% macro render_comment(comment) %}
<div class="row">
    <div class="col-md-10 text-left metadata">
        <ul style='color: #123275;font-weight: bold;'>
                {{ comment.datetime | dateformat("%d/%m/%y") }}:
                {{ comment.author.name}} said:
        </ul>

    </div>
    <div class="col-md-10">
      <ul>{{ comment.content | safe }}</ul>
    </div>
</div>
{% endmacro %}


{% macro render_singlepost(post) %}
<div class = "col-sm-12 col-md-12" >
      <div class = "thumbnail" style="background-color: #EAEDF2;">
         <h1>
         <a class="title" href="{{url_for('singlepost_get', id=post.id)}}">{{post.title | title}}</a>
        </h1>
      
      
      <div class = "caption">
	<p>        
             {% if post.author.name %}
           <span style='color: #123275;font-weight: bold;'>
	   Posted by: {{ post.author.name.title()}} | {{ post.datetime | dateformat("%d/%m/%y") }}</span>
            {% endif %}
         </p>
	  {{ post.content | safe }}
      
      </div>
     </div>
   </div>




{% endmacro %}
