
{% extends "base.html" %}
{% block content %}


<p class='headtext'>Achievements year to date</p>
  <div class="row">
    <div class="col-md-12" >
	  <p>Title: {{slug}} </p> 
	  <em>12 january 2015</em><br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	
    </div>
    <div class="col-md-4">
       <img src="http://i.imgur.com/XpIvGdO.jpg" title="source: imgur.com" class="img-responsive img-thumbnail" alt="Cinque Terre" width="304" height="236"/>
      <p>The Mountaing Hike</p>
    </div>
	
	<div class="col-md-4" width='100%'>
       <img src="http://i.imgur.com/EgYcv2P.jpg" title="source: imgur.com" class="img-responsive img-thumbnail" alt="Cinque Terre" width="304" height="236"/>
      <p>The Mountaing Hike</p>
    </div>
	
    <div class="col-md-4" >
     <img src="http://i.imgur.com/TI6ZpzQ.jpg" title="source: imgur.com" class="img-responsive img-thumbnail" alt="Cinque Terre" width="304" height="236"/>
      <p>The Mountaing Hike</p>
    </div>

{% endblock %}
