{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}

{{ macros.render_singlepost(post) }}
{% if current_user.id == post.author.id or current_user.email == admin.email %}
<br>
edit:&nbsp<a href= "{{url_for('editpost', id=id)}}"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp
delete:&nbsp<a href= "{{url_for('deletepost', id=id)}}"><span class="glyphicon glyphicon-trash"></span></a>
{% endif %}
<br>
<br>



<h4><strong>Comments for this post: </strong></h4>

{%for comment in comments %}
{{macros.render_comment(comment)}}
{% if current_user.id == comment.author.id or current_user.email == admin.email %}
edit:&nbsp<a href= "{{url_for('editComment', comment_id=comment.id)}}"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp
delete:&nbsp<a href= "{{url_for('deleteComment', comment_id=comment.id)}}"> <span class="glyphicon glyphicon-trash"></span></a>
{% endif %}
{% endfor %}



<form role="form" method="POST">

    <div class="form-group">
        <label for="content"></label>
        <textarea class="form-control" id="content" name="content" placeholder="Add comment" rows="8"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
